

/* MAIN */

main {
	width:1000px;
	height:1000px;
	padding:10px;
	margin-top:30px;
	color:rgb(187, 171, 171);
	font-size:18px;
	/*background-color:rgb(5, 5, 5);*/	
	background:url('../images/fn.jpg') no-repeat center ; 
	-webkit-background-size:cover ;
	/*background-color:rgb(27, 26, 26);*/

}

#metCarre{
	display: inline-block;
	float: right;
	width: 50px;
}

main h2 {
	color:rgb(56, 60, 63);
	position:relative;
    font-family: Poppins-Regular;
	text-align: center;
	background-color: rgb(108, 158, 187);

}

#rec {

	display: block;
	position: relative;
	border-bottom:2px solid aqua;
	margin-left: 10px;
	margin-top: 30px;

}

#lec {
display: block;
position: relative;
width: 1000px;

}

#message {
display:inline-block;
position: relative;
width: 600;

}

#btn_message{
display: inline-block;
position: relative;
bottom: 20px;
}

